@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

/* =================all common css start=============== */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    outline: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.7;
}

/* =================all common css end================= */

/* =================navbar part start================= */
#navbar {
    position: fixed;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
}

#contact_page #navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.664);
}

#about_page #navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.664);
}

#social_media_marketing #navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.664);
}

#google #navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.664);
}

#lead #navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.664);
}

#testomonial #navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.664);
}

.navbar-brand img {
	width: 60px;
	height: 60px;
}

.navbar-nav .nav-link {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
    margin-left: 11px;
}

.navbar-nav .nav-link:hover {
    color: #DC6551;
}

.dropdown-menu .dropdown-item:hover {
    color: #DC6551;
}

.search i {
    color: #fff;
    margin-left: 171px;
    margin-right: -133px;
    margin-top: 12px;
    cursor: pointer;
}

.sticky_header {
    animation: sticky 0.7s;
    position: fixed;
    background: rgba(0, 0, 0, 0.822);
    width: 100%;
}

@keyframes sticky {
    from {
        top: -100px;
    }

    to {
        top: 0;
    }
}

/* =================navbar part end================= */

/* =================bannar part start================ */
#bannar {
    background: #66b5ff;
    padding-top: 149px;
}

.bannar_img img {
    width: 100%;
}

.bannar_content {
    padding-top: 65px;
}

.bannar_content h3 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.bannar_content h1 {
    font-family: 'Anton', sans-serif;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 5px;
}

.bannar_content p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}

.bannar_btn {
    margin-top: 30px;
}

.bannar_btn a {
    padding: 10px 37px;
    background: #FE4C1C;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 40px 40px 40px 40px;
}


.custom-shape-divider-bottom-1659200131 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1659200131 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1659200131 .shape-fill {
    fill: #FFFFFF;
}

.sohel {
    position: relative;
}

/* =================bannar part end================ */




/* ================other part start================== */
#other {
    padding: 100px 0;
}

.other_head {
    text-align: center;
}

.other_head h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-size: 50px;
    font-weight: 600;
}

.other_item img {
    width: 100%;
    margin-top: 50px;
}

.other_text p {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 18px;
    margin-top: 50px;
    line-height: 38px;
}

/* ================other part end================== */

/* =================how we work part start ========*/
#we_work {
    padding-top: 50px;
    padding-bottom: 100px;
}

.We_work_head {
    text-align: center;
}

.We_work_head p {
    color: #FE7551;
    padding-bottom: 10px;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.We_work_head h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-size: 50px;
    font-weight: 600;
}

.we_work_item {
    text-align: center;
    margin-top: 68px;
}

.we_work_item h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #3B3664;
    margin-top: 21px;
    font-weight: 600;
}

/* =================how we work part end ========*/


/* =================counter part start=========== */
#counter {
    padding-top: 10px;
    padding-bottom: 100px;
}

.box {
    width: 100%;
    background: #FE4C1C;
    border-radius: 5px;
}

.count_item {
    text-align: center;
}

.count_item h3 {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding-bottom: 10px;
}

.count_item h4 {
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding-bottom: 50px;
    font-size: 16px;
}

/* =================counter part end=========== */

/* =================service part start============= */
#service {
    padding-top: 50px;
    padding-bottom: 100px;
    background: #F9F8FF;
}

.service_item {
    text-align: center;
    background: #FFF0EC;
    border-radius: 5px;
    transition: 0.4s;
    margin-top: 50px;
}

.service_item:hover {
    background: #FE4C1C;
}

.service_item:hover .service_text h4 {
    color: #fff;
}

.service_img img {
    margin-top: 37px;
    width: 50px;
}

.service_text h4 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    padding-top: 19px;
    padding-bottom: 58px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.4s;
    line-height: 24px;
}

.sohel1 h4 {
    margin-top: 15px;
}

/* =================service part end============= */


/* ==================customar part start========== */
#customar {
    padding: 100px 0;
}

.customar_img img {
    width: 80%;
}

.customar_text h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-weight: 600;
    font-size: 40px;
}

.customar_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    line-height: 22px;
}

.customar_btn a {
    padding: 10px 37px;
    background: #FE4C1C;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 40px 40px 40px 40px;
}

/* ==================customar part end========== */

/* ===================award part start============ */
#award {
    padding-top: 50px;
    padding-bottom: 100px;
}

.award_head {
    text-align: center;
}

.award_head h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-size: 50px;
    font-weight: 600;
}

.award_img {
    margin-top: 45px;
}

.award_img img {
    width: 100%;
}

/* ===================award part end============ */


/* ===================happy_clint part start========= */
#happy_clint {
    background: #F9F8FF;
    padding: 100px 0;
}

.happy_clint_head {
    text-align: center;
}

.happy_clint_head h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-size: 50px;
    font-weight: 600;
}

.local_clint {
    text-align: center;
    background: #FE4C1C;
    padding: 15px 20px;
    margin-top: 30px;
    border-radius: 5px;
    margin-top: 50px;
}

.local_clint h3 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.local_img {
    margin-bottom: 10px;
}

.gap {
    margin-top: 30px;
}

/* ===================happy_clint part end========= */


/* ===================thinking part start===================== */
#thinking {
    padding: 80px 0;
}

.thinking_head {
    text-align: center;
}

.thinking_head h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-size: 43px;
    font-weight: 600;
}

.thinking_item {
    display: flex;
    margin-top: 50px;
}

.thinking_text {
    margin-left: 30px;
}

.thinking_text h4 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    font-size: 25px;
    font-weight: 400;
}

.thiking_icon i {
    color: #FE4C1C;
}

.thinking_para {
    margin-top: 20px;
}

.thinking_para p {
    font-family: 'Roboto', sans-serif;
    color: #3B3664;
    font-size: 16px;
    line-height: 31px;
}

/* ===================thinking part end===================== */


/* =================footer part start======================= */
#footer {
    background: #0C1463;
    padding-top: 34px;
    padding-bottom: 33px;
}

.footer_text {
    text-align: center;
}

.footer_text p {
    color: #fff;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    text-align: left;
}

.footer_img {
    text-align: center;
}

.footer_contact {
    text-align: center;
}

.footer_icon a i {
    border-radius: 50%;
    border: 1px solid #3B3664;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    transition: 0.4s;
}

.footer_icon a i:hover {
    background: #FE4C1C;
    border: 1px solid #FE4C1C;
}

.call h4 {
    color: #fff;
    margin-top: 10px;
    font-size: 21px;
}

.hrule {
    background: #fff;
    margin-top: 50px;
    width: 70%;
    margin-left: 13%;
}

.copy {
    text-align: center;
}

.copy p {
    color: #fff;
}

/* =================footer part end======================= */




/* =================about bannar part start=============== */
#about_page #bannar {
    background-image: linear-gradient(to right, #7358F3, #B975D8);
    padding-top: 221px;
    padding-bottom: 205px;
}

.about_head {
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #fff;
    letter-spacing: 5px;
}

#about_text {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about_text_head {
    text-align: center;
}

.about_text_head h2 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-size: 35px;
    line-height: 31px;
    font-weight: 600;
}

.about_text_head h5 {
    font-family: 'Montserrat', sans-serif;
    color: #FE4C1C;
    padding-top: 13px;
    padding-bottom: 15px;
    font-weight: 500;
}

.about_text_head p {
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    color: #3B3664;
}

.about_text_item {
    margin-top: 45px;
    text-align: center;
}

.about_text_item h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 14px;
}

.about_text_item p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 22px;
}

.about_head h5 {
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.about_write_img img {
    width: 100%;
}

.about_write_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 22px;
}

.about_write_text_1 {
    margin-top: 30px;
}

.about_write_text_1 h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-weight: 600;
    padding-bottom: 20px;
}

.about_write_text_1 p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 25px;
}

#about_write {
    padding-top: 10px;
    padding-bottom: 100px;
}

/* =================about bannar part end=============== */


/* ==============social media marketing part start=============== */
#social_media_marketing #bannar {
    background-image: linear-gradient(to right, #7358F3, #B975D8);
    padding-top: 221px;
    padding-bottom: 205px;
}

.what_is_marketing_head {
    text-align: center;
}

#what_is_marketing {
    padding-top: 100px;
    padding-bottom: 15px;
}

.what_is_marketing_head h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-size: 50px;
    font-weight: 600;

}

.what_is_marketing_head p {
    font-family: 'Roboto', sans-serif;
    color: #FE4C1C;
    padding-top: 15px;
}

.what_is_marketing_text p {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    line-height: 26px;
}

.what_is_marketing_text p {
    font-family: 'Roboto', sans-serif;
    padding-top: 90px;
    line-height: 36px;
}

#Social_Media_Platforms {
    background: #FBFBFB;
    padding-top: 10px;
    padding-bottom: 100px;
}

.Social_Media_Platforms_head {
    text-align: center;
}

.Social_Media_Platforms_head h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-size: 31px;
    font-weight: 600;
    margin-top: 30px;
}

.Social_Media_Platforms_item {
    margin-top: 50px;
}

.Social_Media_Platforms_icon img {
    width: 60px;
    height: 60px;
}

.Social_Media_Platforms_icon {
    display: flex;
}

.Social_Media_Platforms_icon h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 17px;
}

.Social_Media_Platforms_item_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 24px;
    margin-top: 10px;
}

/* ==============social media marketing part end=============== */



/* ===============Average_Advertising part start================ */
#Average_Advertising {
    padding-top: 30px;
    padding-bottom: 100px;
}

.Average_Advertising_item {
    margin-top: 50px;
}

.Average_Advertising_item_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 24px;
    margin-top: 10px;
}

/* ===============Average_Advertising part end================ */


/* ===============Social_Media_Advertising part start============= */
#Social_Media_Advertising {
    padding-top: 30px;
    padding-bottom: 0px;
    background: #FBFBFB;
}

.Social_Media_Advertising_item {
    margin: 50px;
}

.Social_Media_Advertising_item h3 {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #3B3664;
    line-height: 26px;
    margin-bottom: 20px;
}

.Social_Media_Advertising_item p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

#Chose_us {
    padding-top: 50px;
    padding-bottom: 100px;
}

.Social_Media_Platforms_head p {
    font-family: 'Roboto', sans-serif;
    color: #FE4C1C;
    padding-top: 15px;
}

.chose_us_item_icon {
    display: flex;
}

.chose_us_item_icon img {
    width: 60px;
    height: 60px;
}

.chose_us_item_icon h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #3B3664;
    margin-left: 16px;
    line-height: 26px;
    font-weight: 500;
}

.chose_us_item p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 22px;
    margin-top: 20px;
}

.chose_us_item {
    margin-top: 50px;
}

/* ===============Social_Media_Advertising part end============= */




/* ==============google and facebook part start=================== */
#google #bannar {
    background-image: linear-gradient(to right, #7358F3, #B975D8);
    padding-top: 221px;
    padding-bottom: 205px;
}

.google_img img {
    width: 100%;
}

#google_bannar {
    padding-bottom: 100px;
    background: #FFFFFF;
}

.google_bannar_icon {
    display: flex;
}

.googlr_bannar_item {
    padding: 22px 8px;
    background: #FFFFFF;
    border: 1px solid #fff;
    box-shadow: 1px 1px 31px 10px #F4F3F6;
    border-radius: 12px;
    margin-bottom: 27px;
}

.col_gap {
    margin-top: 109px;
}

.google_bannar_icon_text {
    margin-left: 15px;
}

.google_bannar_icon_text h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-size: 25px;
    font-weight: 500;
}

.google_bannar_icon_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 10px;
    line-height: 22px;
}

#facbook_stratagy {
    padding-bottom: 100px;
}

.facebook_stratagy_img img {
    width: 100%;
}

.facebook_stratagy_text h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
}

.facebook_stratagy_text p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
}

.new_google_item {
    margin-top: 40px;
}

.new_google_item h3 {
    font-family: 'Anton', sans-serif;
    color: #FE4C1C;
    font-size: 25px;
    margin-bottom: 10px;
}

.new_google_item h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #3B3664;
    margin-top: 22px;
    margin-bottom: 15px;
}

.new_google_item p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 25px;
}

.facebook_stratagy_text {
    margin-top: 61px;
}

.google_stratagy_img img {
    width: 100%;
    margin-top: 208px;
}

/* ==============google and facebook part end=================== */


/* ===============lead generaction part start===================== */
#lead #bannar {
    background-image: linear-gradient(to right, #7358F3, #B975D8);
    padding-top: 221px;
    padding-bottom: 205px;
}

.lead_generaction_img img {
    width: 100%;
}

#lead_generaction {
    padding-top: 100px;
    padding-bottom: 100px;
}

.lead_generaction_item {
    margin-top: 50px;
}

.lead_generaction_item h5 {
    font-family: 'Montserrat', sans-serif;
    color: #FE4C1C;
    font-size: 16px;
}

.lead_generaction_item h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 37px;
    font-weight: 600;
}

.lead_generaction_item p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 22px;
}

.gap_lead {
    margin-top: 35px;
}

.lead_counter h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 14px;
}

.lead_btn a {
    padding: 10px 37px;
    background: #FE4C1C;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 40px 40px 40px 40px;
}

.lead_startagy_img img {
    width: 100%;
}

.lead_starrtagy_text h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-size: 34px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 20px;
}

/* ===============lead generaction part end===================== */



/* ==============testomonial part start========================== */
#testomonial #bannar {
    background-image: linear-gradient(to right, #7358F3, #B975D8);
    padding-top: 221px;
    padding-bottom: 205px;
}

#testomonial_section {
    padding: 100px 0;
}

.testomonial_head {
    text-align: center;
}

.testomonial_head h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3B3664;
    font-size: 39px;
    font-weight: 600;
}

.testomonial_img img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.testomonial_flex {
    display: flex;
}

.testomonial_text {
    margin-left: 20px;
    margin-top: 5px;
}

.testomonial_text h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.testomonial_text h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 7px;
}

.testomonial_text i {
    color: #FE4C1C;
}

.testomonial_item p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 22px;
    margin-top: 15px;
}

.testomonial_item {
    margin-top: 74px;
}

/* ==============testomonial part end========================== */



/* =================contact part start======================== */
#contact_page #bannar {
    background-image: linear-gradient(to right, #7358F3, #B975D8);
    padding-top: 221px;
    padding-bottom: 205px;
}

.contacta_icon_text {
    display: flex;
}

#contact_info {
    padding: 100px 0;
}

.contact_icon i {
    color: #fff;
    font-size: 30px;
}

.contact_info_item {
    background-image: linear-gradient(to right, #7358F3, #B975D8);
    padding: 60px 52px;
    border-radius: 5px;
}

.contact_text {
    margin-left: 35px;
    margin-top: 3px;
}

.contact_text p {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 11px;
}

.contacta_icon_text {
    padding-bottom: 39px;
}

.contact_info_item h3 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 30px;
}

.contact_form form input {
    margin-bottom: 94px;
    border: none;
    border-bottom: 1px solid #3B3664;
    width: 49%;
}

.contact_form form input.ggggg {
    width: 100%;
}

.contact_form form a {
    padding: 10px 37px;
    background: #FE4C1C;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 40px 40px 40px 40px;
}

.contact_map_one {
    width: 100%;
}

/* =================contact part end======================== */


/* ============up to top part start================== */
.up_to_top {
    padding: 2px 28px;
    background: #FE4C1C;
    border: 1px solid #FE4C1C;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 40px 40px 40px 40px;
}

.up_to_top i {
    color: #fff;
    font-size: 22px;
    line-height: 50px;
}

/* ============up to top part end================== */